{
  "env": {
    "browser": true,
    "es2021": true
  },
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint", "react", "tailwindcss"],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:react/recommended",
    "plugin:react-hooks/recommended",
    "plugin:react/jsx-runtime",
    "plugin:tailwindcss/recommended"
  ],
  "rules": {
    "@typescript-eslint/ban-ts-comment": "warn",
    "comma-dangle": "off",
    "multiline-ternary": "off",
    "no-use-before-define": "off",
    "space-before-function-paren": "off",
    "react/prop-types": "off",
    "react/no-unescaped-entities": "off",
    "react/display-name": "off",
    "react/react-in-jsx-scope": "off",
    "no-unused-vars": "warn",
    "react/no-danger": "error",
    "react/jsx-no-target-blank": "error",
    "react/jsx-no-script-url": "error",
    "react/no-array-index-key": "error",
    "react/jsx-key": "error",
    "react/jsx-no-constructed-context-values": "error",
    "camelcase": ["warn", { "properties": "never" }],
    "no-duplicate-imports": "error",
    "tailwindcss/classnames-order": "warn",
    "tailwindcss/no-custom-classname": "warn",
    "tailwindcss/no-contradicting-classname": "error"
  }
}
