* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  @apply text-center;
  text-align: center;
  width: 100vw;
  min-height: 100vh;
  padding-top: 55px;
  background-color: antiquewhite;
}

.app-title-container {
  padding: 25px;
  margin-bottom: 15px;
  background-color: #ffe4c4;
}

.app-title {
  font-weight: bold;
  font-size: 32px;
}

.sun-btn,
.moon-btn {
  padding-top: 4.5px;
  padding-left: 6px;
}
